body {
	background-image: url("../images/upfeathers.png");
}

header {
	font-family: "Georgia";
	font-size: 30px;
	font-weight: bold;
	color: #fdfdf1;
	background: #e5c1b5;
	width: 100%;
	height: 120px;
	border-top: 3px solid #600320;
	border-bottom: 3px solid #600320;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
}

h1 {
	font-family: "Georgia";
	color: #600320;
	padding: 10px;
	border-bottom: 3px solid #e5c1b5;
}

h2 {
	font-family: "Georgia";
	font-size: 20px;
	text-align: center;
	color: #600320;
	padding: 10px;
	border-bottom: 2px solid #e5c1b5;
}

p {
	font-family: "Arial";
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	text-indent: 25px;
}

a {
	font-family: "Arial";
	font-size: 18px;
	color: #600320;
	text-decoration: none;
}

a.default_links {
	padding: 20px;
	float: right;
	position: relative;
	right: 100px;
	top: 25px;
}

.header_box {
	background: #600320;
	display: inline-block;
	padding: 30px;
	float: left;
	position: relative;
	top: 10px;
	left: 100px; 
}

.main_content {
	/*clear: both;*/
	float: left;
	position: relative;
	top: 150px;
	left: 100px;
	width: 650px;
	padding: 10px;
	border: 4px solid #e5c1b5;
	background: #fdfdf1;
	margin-bottom: 80px;
	display: inline-block;
}

#profile_pic {
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	height: 280px;
	width: 170px;
}

.social_media {
	float: right;
	position: relative;
	text-align: center;
	top: 150px;
	right: 100px;
	width: 270px;
	padding: 10px;
	border: 4px solid #e5c1b5;
	background: #fdfdf1;
	display: inline-block;
}

label {
	font-family: "Georgia";
	font-size: 16px;
	font-weight: bold;
	color: #600320;
}

input {
	width: 100%;
	padding: 12px 20px;
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #e5c1b5;
    border-radius: 4px;
    outline: none;
}

#fmessage {
    height: 150px;
    resize: none;
    vertical-align: text-top;
}

button {
	background-color: #600320; 
    border: none;
    color: #e5c1b5;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.portfolio_images {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

#hangman {
	float: left;
	padding-bottom: 40px;
	z-index: 1;
}

#rpg_game {
	float: right;
	padding-bottom: 40px;
}

#trivia_game {
	float: left;
	padding-bottom: 40px;
}

#rutgers {
	float: right;
	padding-bottom: 40px;
}

#rps {
	float: left;
	padding-bottom: 40px;
}

figcaption {
	position: absolute;
	padding: 20px;
	background-color: #600320; 
    border: none;
    color: #fdfdf1;
    font-family: "Georgia";
    font-weight: bold;
    font-size: 20px;
    width: 210px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    z-index: 2;
}

#hangman_label {
	top: 240px;
}

#rpg_label {
	top: 240px;
	right: 50px;
}

#triviagame_label {
	top: 480px;
	left: 50px;
}

#rutgers_label {
	top: 480px;
	right: 50px;
}

#rps_label {
	top: 720px;
	left: 50px;
}

footer {
	clear: both;
	position: fixed;
	font-family: "Georgia";
	text-align: center;
	font-size: 12px;
	color: #600320;
	padding: 15px;
	background: #e5c1b5;
	width: 100%;
	height: 10px;
	bottom: 0px;
	left: 0px;
	border-top: 3px solid #600320;
	z-index: 3;
}
