body {
	background-image: url("../images/upfeathers.png");
}

header {
	font-family: "Georgia";
	font-size: 30px;
	font-weight: bold;
	color: #fdfdf1;
	background: #e5c1b5;
	width: 100%;
	height: 120px;
	border-top: 3px solid #600320;
	border-bottom: 3px solid #600320;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
}

h1 {
	font-family: "Georgia";
	color: #600320;
	padding: 10px;
	border-bottom: 3px solid #e5c1b5;
}

h2 {
	font-family: "Georgia";
	font-size: 20px;
	text-align: center;
	color: #600320;
	padding: 10px;
	border-bottom: 2px solid #e5c1b5;
}

p {
	font-family: "Arial";
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	text-indent: 25px;
}

a {
	font-family: "Arial";
	font-size: 18px;
	color: #600320;
	text-decoration: none;
}

a.default_links {
	padding: 20px;
	float: right;
	position: relative;
	right: 100px;
	top: 25px;
}

.header_box {
	background: #600320;
	display: inline-block;
	padding: 30px;
	float: left;
	position: relative;
	top: 10px;
	left: 100px; 
}

.main_content {
	float: left;
	position: relative;
	top: 150px;
	left: 100px;
	width: 650px;
	padding: 10px;
	border: 4px solid #e5c1b5;
	background: #fdfdf1;
	margin-bottom: 80px;
	display: inline-block;
}

#profile_pic {
	float: left;
	padding-left: 10px;
	padding-right: 20px;
	height: 280px;
	width: 170px;
}

.social_media {
	float: right;
	position: relative;
	text-align: center;
	top: 150px;
	right: 100px;
	width: 270px;
	padding: 10px;
	border: 4px solid #e5c1b5;
	background: #fdfdf1;
	display: inline-block;
}

input {
	width: 100%;
	padding: 12px 20px;
    margin-bottom: 15px;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #e5c1b5;
    border-radius: 4px;
    outline: none;
}

#fmessage {
    height: 150px;
    resize: none;
    vertical-align: text-top;
}

button {
	background-color: #600320; 
    border: none;
    color: #e5c1b5;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.main-section {
  margin: 0 0 40px 0;
  width: 100%;
  max-width: 650px;
  float: left;
}

.work {
  position: relative;
  width: 274px;
  overflow: auto;
  float: left;
  margin: 20px 0 25px;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: .8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
  padding: 15px;
  width: 100%;
  max-width: 243px;
  color: #fdfdf1;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
  background: #600320;
  border-bottom: 0;
}

.auth-image {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
  float: left;
}

footer {
	clear: both;
	position: fixed;
	font-family: "Georgia";
	text-align: center;
	font-size: 12px;
	color: #600320;
	padding: 15px;
	background: #e5c1b5;
	width: 100%;
	height: 10px;
	bottom: 0px;
	left: 0px;
	border-top: 3px solid #600320;
	z-index: 3;
}

@media screen and (max-width: 980px) {

	header {
		font-size: 20px;
	}

	a {
		font-size: 14px;
	}

	a.default_links {
		padding: 10px;
	}

	.main_content {
		width: 400px;
	}

	.social_media {
		width: 175px;
	}
}

@media screen and (max-width: 768px) {
	.main_content {
		clear: both;
		position: static;
		width: 90%;
		margin-top: 150px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 10px;
		padding: 10px;
	}
	
	.social_media {
		clear: both;
		position: static;
		width: 90%;
		margin-bottom: 80px;
	}
} 	

@media screen and (max-width: 640px) {

	#profile_pic {
		clear: both;
		padding: 10px;
		width: 90%;
		height: 90%;
	}

	.main_content {
		clear: both;
		width: 75%;
	}
	
	.social_media {
		position: static;
		width: 75%;
	}

	a.default_links {
		padding: 20px;
		float: left;
		position: relative;
		top: 80px;
	}
} 	